$black-dark: rgb(102, 102, 102);
$black: #666666;
$black-light: #999999;
$grey: #CCCCCC;
$grey2: #f3f3f3;
$grey-blue-light: #f9fafc;
$white: #fff;
$green-dark: #17967c;
$green: rgba(26, 188, 156, 1);
$grey-green: rgba(246, 247, 249, 1);
$red: #FF0000;
