$weight-bold: 400;
$weight-bolder: 700;
$size-small: 10.5px;
$size-normal: 12.25px;
$size-big: 14px;
$size-bigger: 21px;
$size-large: 28px;
$app-header-height: 50px;
$distance-screen-border: 63px;
$aside-menu-width: 180px;